body{
    background:hsl(235, 18%, 26%);
    /* height: 100vh; */
    
    
}
main{
  display: grid;
  place-items: center; /* Centers both vertically and horizontally */
  /* grid-template-columns: 1fr 1fr; */
  height: 100%;
  /* width: 100%; */
  margin: 50px;
  /* gap: 10px; */
  
}

section{
    
    background: white;
    width: 900px;
    height: 620px;
    display: grid;
    /* place-items: center; */
    
    grid-template-columns: 1fr 1fr;
    padding: 10px 0px;
    gap: 1rem;
    border-radius: 3%;
    box-sizing: content-box;
}
article{
    display: flex;
    justify-content: center;
}
h1{
    /* margin-top: 1rem; */
    font-size: 50px;
}